:root {
  --main-color: rebeccapurple;
  --second-color: #55a630;
  --fun-font: ;
}

* {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  font-size: 20px;
  color: #55a630;
}

header {
  height: 40px;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: aqua;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  line-height: inherit;
}

li a:hover {
  background-color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rebeccapurple;
}

a {
  display: block;
  padding: 8px;
}

p {
  color: red;
  text-align: center;
  align-self: start;
}

.intro {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

.information {
  align-self: flex-start;
}

#contact {
  border: indigo dashed 3px;
}

.work {
  display: flex;
  flex-direction: row;
}

.avatar {
  display: flex;
  justify-content: flex-end;
}
nav {
  display: flex;
  justify-content: space-between;
}

.lesser {
  display: flex;
  justify-content: space-around;
}

.main {
  background-color: lawngreen;
}
