:root {
  --background-color: #cad2c5;
  --main-color: #52796f;
  --second-color: #84a98c;
  --fun-font: #354f52;
  --nav-stag: #2f3e46;
  --inner-color: #86cca9;
}

* {
  font-family: Helvetica, sans-serif;
  line-height: 1;
  font-size: 20px;
  color: var(--main-color);
}

header {
  height: 40px;
  background-color: var(--nav-stag);
}

#hook {
  color: var(--fun-font);
  text-shadow: 2px 2px 5px var(--nav-stag);
  font-style: italic;
  font-family: "Bahnschrift";
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--nav-stag);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--second-color);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  line-height: inherit;
}

li a:hover {
  /* need gradient here */
  background-color: var(--main-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

h2,
h3 {
  color: var(--fun-font);
  text-shadow: 2px 2px 5px var(--nav-stag);
  font-style: italic;
  font-family: "Bahnschrift";
}

p {
  color: var(--main-color);
  text-align: center;
  align-self: start;
}

.intro {
  display: flex;
  justify-content: space-around;
  background-color: var(--inner-color);
}

#contact {
  background-color: var(--inner-color);
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  display: flex;
  justify-content: flex-end;
}
nav {
  display: flex;
  justify-content: space-between;
}

.lesser {
  display: flex;
  justify-content: space-around;
  background-color: var(--inner-color);
}

.main {
  display: flow-root;
  justify-content: space-around;
  background-color: var(--inner-color);
}
